.headline {
    height: 100px;
    background-color: #4589ff;
}

.d-none {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.navigation {
    height: 89.5vh;
    width: 232px;
    border-right: solid grey;
}

.relative {
    z-index: 96;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.backcolor {
    background-color: rgba(255, 255, 255, 0.5);
}

.display {
    display: flex;
    overflow: hidden;
    position: relative;
}

/* mainside */
.contact-main {
    min-width: 430px;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.new-contact-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4589ff;
    width: 197px;
    height: 53px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 23px;
    gap: 8px;
}

.contact-right-side {
    min-width: 480px;
    width: 100%;
    max-width: 700px;
    padding: 50px 32px 25px 65px;
}

.show-contact {
    height: 75vh;
}

.show-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.show-button-in-bar {

    height: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* add contact */
.add-contact {
    width: 580px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 16%);
    overflow: auto;
}

.add-contact-head {
    background-color: #4589ff;
    width: 580px;
    padding-bottom: 70px;
    border-radius: 0px 30px 0px 0px;
}

.add-contact-main {
    width: 580px;
    background-color: #ffffff;
    border-radius: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px 0;
}

.contact-member {
    width: 130px;
    height: 130px;
    background-color: #D1D1D1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
    display: flex;
    gap: 32px;
    margin: 30px 0;
}

.button-cancel {
    width: 136px;
    height: 61px;
    background-color: #ffffff;
    border: 1px solid #647188;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 23px;
}

.button-create {
    width: 210px;
    height: 61px;
    background-color: #4589ff;
    color: #ffffff;
    border-radius: 10px;
    font-size: 23px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 0;
}

.img-cross {
    margin: 20px;
}

.img-cross:hover {
    cursor: pointer;
}

.add-contact-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-contact-cross {
    display: flex;
    justify-content: flex-end;
}

.add-contact-h {
    font-weight: 700;
    font-size: 48px;
    color: #ffffff;
    margin: 0;
}

.add-contact-text {
    font-weight: 400;
    font-size: 27px;
    color: #ffffff;
}

.contact-bar {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    overflow-y: scroll;
    flex-direction: column;
    padding: 25px 50px;
}

.contact-bar::-webkit-scrollbar {
    width: 5px;
}

.contact-bar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
}

.contact-bar::-webkit-scrollbar-thumb {
    background: lightgrey;
    border-radius: 4px;
}

.contact-bar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.contact-letter-main {
    width: 100%;

}

.icon-edit-contact {
    width: 20px;
}

.contact-letter {
    padding-left: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #D1D1D1;
}

.contact-child-div {
    display: flex;
    align-items: center;
    padding-left: 20px;

    height: 77px;
}

.contact-child-div-klick {
    display: flex;
    align-items: center;
    padding-left: 20px;
    width: 100%;
    height: 77px;
    background-color: #4589ff;
    color: #ffffff !important;
    border-radius: 10px;
}

.contact-child {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-right: 16px;
    border: 2px solid white;
}

.contact-child-name {
    font-size: 19px;
    font-weight: 400;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 16px;
}

.contact-child-email {
    font-size: 16px;
    font-weight: 400;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    margin-left: 16px;
}

.contact-detail-head {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.contact-detail-name-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 25px;
}

.contact-detail-big-letter {
    min-width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 3px solid #ffffff;
    color: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
    margin-right: 25px;
    font-size: 47px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-detail-big-name {
    font-size: 48px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 13px;
}

.contact-detail-add-task {
    color: #005DFF;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-detail-info-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-detail-info {
    font-size: 23px;
    font-weight: 700;
}

.contact-detail-edit {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
}

.contact-detail-email-number {
    font-size: 16px;
    font-weight: 700;
}

.input-contact {
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #D1D1D1;
}

.input-add-contact-container {
    width: 100%;
}

.input-contact-name {
    width: 90%;
    height: 50px;
    border: 0;
    font-size: 19px;
    font-weight: 400;
    outline: none;
}

.new-contact-button-img {
    height: 28px;
    margin-left: 5px;
}

.new-contact-button:hover {
    cursor: pointer;
    background-color: #005DFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.contact-child-div:hover {
    cursor: pointer;
    background-color: #D2E3FF;
    width: 100%;
    height: 77px;
    border-radius: 10px;
}

.contact-detail-edit:hover {
    cursor: pointer;
}

.button-create:hover {
    cursor: pointer;
    background-color: #005DFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.button-cancel:hover {
    cursor: pointer;
    border: 2px solid #005DFF;
    color: #005DFF;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.4);
}

.popup-contact-create {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-email-done {
    font-size: small;
    color: red;
}

.back-in-media-contact {
    display: flex;
    justify-content: flex-end;
}

.display-contact-none {
    display: none !important;
}



@media (max-width: 1140px) {

    .contact-right-side {
        display: none;
    }

    .new-contact-button {
        position: absolute;
        top: 0;
        left: 0;
    }

    .contact-main {
        width: 100vw;
    }

    #contact-detail-in-main {
        position: absolute;
        top: 8px;
        left: 262px;
        right: 32px;
        background-color: #ffffff;
        z-index: 96;
        padding-top: 32px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .contact-bar {
        padding: 95px 50px 25px;
    }

    .contact-letter-main {
        width: 380px;

    }

    .show-button {
        top: 32px;
        right: 232px;
    }

}

@media(max-width: 768px) {

    .contact-bar {
        height: calc(100vh - 150px);
        width: 100%;
        align-items: center;
        overflow-y: scroll;
        flex-direction: column;
    }

    .display {
        flex-direction: column-reverse;
    }

    .contact-main {
        height: calc(100vh - 150px);
        overflow: hidden;
    }

    .add-contact {
        width: 100vw;
        border-radius: 0;
    }

    .add-contact-head {
        width: 100vw;
        border-radius: 0;
        padding: 0 16px 70px;
        text-align: center;
    }

    .add-contact-main {
        width: 100vw;
        border-radius: 0;
        overflow-y: auto;
    }

    #contact-detail-in-main {
        top: 8px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding: 32px 32px;
    }

    .contact-detail-main-side {
        width: 100%;
    }

    .contact-detail-head {
        flex-direction: column;
        justify-content: center;
        margin-bottom: 20px;
    }

    .contact-detail-big-letter {
        min-height: 120px;
        margin: 0;
    }

    .contact-detail-name-task {
        align-items: center;
        margin: 0;
    }

    .contact-detail-big-name {
        display: flex;
        text-align: center;
    }

    .contact-letter-main {
        width: 70%;
    }

    .contact-detail-edit {
        margin: 0;
    }

}

@media (max-width: 576px) {

    .contact-main {
        min-width: 288px;
    }

    .contact-bar {
        padding: 95px 16px 25px;
    }

    .contact-letter-main {
        max-width: 380px
    }

}

@media (max-width: 456px) {

    .contact-letter-main {
        width: 100%;
    }

    .button-container {
        flex-direction: column;
        align-items: center;
    }

    .button-cancel {
        width: 210px;
        gap: 16px;
        justify-content: center;
    }

}