<a href="./summary.html"><img src="assets/img/Capa 1.png" alt="Join Logo"></a>
<div class="rightContainer">
    <h2>Kanban Project Management Tool</h2>
    <a href="./help.html" class="header-item-hide"><img src="assets/img/Vector (2).png" alt=""></a>
    <div id="menu_show" onclick="showMenu()" class="header-img-user "></div>
    <div id="header_nav_popup" class="header-nav-popup">
        <a href="./help.html" class="header-nav-popup-hide">Help</a>
        <a href="./impress.html" class="header-nav-popup-hide">Legal Notice</a>
        <span onclick="logout()" class="header-nav-popup-logout">Log out</span>
    </div>
</div>